<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Praveen's assignment</title>
</head>
<body>
    <div class="upper">
        <h1 id="title" class="name"><%= user %></h1> 
        <div class="changeName">
            <button type="button", id="btn" > Change the username</button>
            
            <form id="form" style="display: none;" method="post" >
                <input type="text" placeholder="new username" id="newTitle" name="newName" />
                <button type="submit" id="" onclick="myfunc(document.getElementById('newTitle').value)">submit</button>
            </form>
        </div>
    </div>
</body>

<script>
    const btn = document.getElementById('btn');

    btn.addEventListener('click', () => {
    const form = document.getElementById('form');

    if (form.style.display === 'none') {
        // 👇️ this SHOWS the form
        form.style.display = 'block';
    } else {
        // 👇️ this HIDES the form
        form.style.display = 'none';
    }
    });

    function myfunc(newTitle){
        console.log(newTitle, document.getElementById("title").innerHTML);
        document.getElementById("title").innerHTML = newTitle;  
        console.log(document.getElementById("title").innerHTML)     
    }

</script>
</html>